//
// Modules -> Utility classes
// --------------------------------------------------

//
// close btn
//
.close {
    float: right;
    font-size: ($base-font-size * 1.1764);
    font-weight: $close-font-weight;
    line-height: 1;
    color: $close-color;
    @include opacity(1);

    &:hover,
    &:focus {
        color: $close-color;
        text-decoration: none;
        cursor: pointer;
        @include opacity(.5);
    }
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

/* purgecss start ignore */
.centered-block {
    @include center-block;
}

.pulled-right {
    float: right;
}

.pulled-left {
    float: left;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.invisible {
    visibility: hidden;
}

.text-hide {
    @include text-hide;
}
